$content-border-color: #b7b7b7;
$content-borderlight-color: #dddddd;
$background-color: #e7ebf3;
$content-background-color: #f5f5ff;

.ok {
    color: #5cff56;
}

.warning {
    color: #ff4b41;
}

.favorite {
    color: #d16059;
}

.green {
    background: #c0ffb4;
}

.red {
    background: #ff7c70;
}

.blue {
    background: #c1c8ff;
}

.orange {
    background: #ffbf7c;
}

.lightblue {
    background: #b5ffff;
}

.yellow {
    background: #fffe97;
}

.purple {
    background: #bfa5ff;
}

.pink {
    background: #ffa6e3;
}

.grey {
    background: #dcdcdc;
}

.darkred {
    background: #d16059;
}

.darkgreen {
    background: #77d17c;
}

.darkblue {
    background: #7ba9d1;
}
