@import "mixin", "color";

form li {
    margin: 5px 0 5px 0;
}

form td {
    white-space: nowrap;
    padding-bottom: 5px;
}

form td textarea+i {
    vertical-align: top;
}

form label {
    font-size: 0.9em;
    color: #878787;
    text-shadow: -1px -1px 1px #ffffff;
}

form i+i {
    margin-left: 3px;
}

form .inputPrefix {
    border-left: 1px solid $content-border-color;
    border-top: 1px solid $content-border-color;
    border-bottom: 1px solid $content-border-color;
    line-height: 2em;
    height: 100%;
    background: #bebebe;
}

form .layout {
    td+td {
        padding-left: 5px;
    }
}

form .list {
    font-size: 0.9em;

    td {
        white-space: nowrap;
        padding: 3px 5px 3px 5px;
    }
}
