.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

ul.default li {
  margin: 5px 0 5px 0; }
  ul.default li:first-child {
    margin: 0 0 5px 0; }
  ul.default li:last-child {
    margin: 5px 0 0 0; }

ul.boxed {
  background: #fff;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #b7b7b7; }

ul.boxed li {
  margin: 5px 0 5px 0; }
  ul.boxed li:first-child {
    margin-top: 0; }
  ul.boxed li:last-child {
    margin-bottom: 0; }

ul.h-list li {
  display: inline-block;
  margin: 5px 10px 5px 10px; }

/*# sourceMappingURL=list.css.map */
