@import "mixin", "color";

.pagination {
    li {
        display: inline;
    }

    a {
        @include border-radius(3px);
        @include box-shadow-out(#ffffff);
        background: $content-background-color;
        padding: 5px 10px 5px 10px;
    }

    .active, a:hover, a:active {
        color: #ffffff;
        background: #353535;
        @include box-shadow-out(#e8e8e8);
    }
}
