@import "mixin", "color";

section.box {
    @include box-sizing(border-box);
    margin: 5px 0 0 5px;
    display: inline-block;
}

.box .inner {
    @include box-sizing(border-box);
    @include border-radius(3px);
    @include box-shadow-out(#ffffff);
    border: 1px solid $content-border-color;
    background: $content-background-color;
    padding: 10px;
}

section > h1 {
    @include box-sizing(border-box);
    @include box-shadow-bottom(#f1f1f1);
    font-size: 1.3em;
    border-bottom: 1px solid $content-border-color;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #ffffff;
}

section > h2 {
    @include box-sizing(border-box);
    font-size: 1.2em;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #ffffff;
}
