html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, nav, section, iframe, label {
  margin: 0;
  padding: 0; }

a, img, button {
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul {
  list-style: none; }

input, select, textarea, .textarea {
  box-sizing: border-box;
  appearance: none;
  box-shadow: none; }
  input:focus, select:focus, textarea:focus, .textarea:focus {
    outline: none; }

input[type=checkbox] {
  margin-right: 5px; }

button::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=button]::-moz-focus-inner {
  border: 0; }

table {
  border-collapse: separate;
  border-spacing: 0; }

i {
  font-style: normal; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

body {
  background: #e7ebf3;
  font-family: Open Sans, sans-serif;
  font-size: 0.9em; }

.clear {
  clear: both; }

pre {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #b7b7b7;
  padding: 5px; }

article {
  background: #fff;
  padding: 5px;
  margin: 0; }
  article p {
    line-height: 1.5em; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.w-100 {
  min-width: 215px;
  width: 100%;
  width: calc(100% - 5px); }

.w-50 {
  min-width: 215px;
  width: 49%;
  width: calc(50% - 5px); }

.w-33 {
  min-width: 215px;
  width: 32%;
  width: calc(33.33% - 5px); }

.w-25 {
  min-width: 215px;
  width: 25%;
  width: calc(25% - 5px); }

.w-75 {
  min-width: 215px;
  width: 75%;
  width: calc(75% - 5px); }

.w-66 {
  min-width: 215px;
  width: 66%;
  width: calc(66.66% - 5px); }

.wd-100 {
  width: 100%;
  width: calc(100% - 105px); }

.wf-100 {
  width: 100%; }

.wf-50 {
  width: 50%; }

.wf-33 {
  width: 33.33%; }

.wf-25 {
  width: 25%; }

.wf-75 {
  width: 75%; }

.wf-66 {
  width: 66.66%; }

.spacer {
  padding: 5px; }

.center {
  margin: 0 auto; }

.centerText {
  text-align: center; }

.rightText {
  text-align: right; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.hidden {
  display: none; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

#nav-side {
  width: 175px;
  position: fixed;
  top: 75px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow-y: auto;
  font-size: 0.8em;
  background: #2F2F2F; }
  #nav-side input {
    display: none; }
  #nav-side input + ul .max {
    display: none; }
  #nav-side input + ul .min {
    display: inherit; }
  #nav-side input + ul > li:nth-child(n+2) {
    display: none; }
  #nav-side input:checked + ul .max {
    display: inherit; }
  #nav-side input:checked + ul .min {
    display: none; }
  #nav-side input:checked + ul > li:nth-child(n+2) {
    display: inherit; }
  #nav-side > li li {
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #1a1a1a;
    color: #fff; }
    #nav-side > li li:first-child {
      padding: 5px 0 5px 5px; }
    #nav-side > li li a {
      display: block;
      padding: 5px 0 5px 5px; }
      #nav-side > li li a:hover {
        background: #3F3F3F; }
  #nav-side li:last-child li:last-child {
    border-bottom: none; }
  #nav-side .max, #nav-side .min {
    float: right; }
  #nav-side i {
    margin-right: 5px; }

main {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding-right: 5px;
  background: #e7ebf3;
  transition: all 0.2s; }

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

label[for="nav-trigger"] {
  font-size: 2.0em;
  height: 30px;
  width: 30px;
  cursor: pointer; }

.nav-trigger:checked ~ main {
  width: calc(100% - 175px);
  left: 175px;
  box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.5); }

p {
  margin: 0 0 10px 0;
  line-height: 1.4em; }
  p span {
    margin: 0;
    padding: 0; }

p + p {
  margin-top: 5px; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block; }

.tooltip > i {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  text-align: center;
  font-size: 0.7em;
  color: #fff;
  line-height: 1.0em;
  background: #000000;
  position: absolute;
  padding: 5px;
  bottom: 100%;
  left: -50%;
  margin-bottom: 10px;
  visibility: hidden;
  opacity: 0;
  white-space: pre; }

.tooltip > i:before, .tooltip > i:after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -10px; }

.tooltip > i:after {
  border-top: 10px solid #000000;
  margin-top: 0;
  z-index: 1; }

.tooltip:hover > i {
  visibility: visible;
  opacity: 1; }

.spinner-1 {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 50px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.spinner-2 {
  text-align: center; }

.spinner-2 > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner-2 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner-2 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.spinner-3 {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  position: relative; }

.spinner-3 .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.spinner-3 .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }

.spinner-3 .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.spinner-3 .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.spinner-3 .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.spinner-3 .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.spinner-3 .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.spinner-3 .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.spinner-3 .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.spinner-3 .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.spinner-3 .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.spinner-3 .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.spinner-3 .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.spinner-3 .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner-3 .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.spinner-3 .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner-3 .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.spinner-3 .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.spinner-3 .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.spinner-3 .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.spinner-3 .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.spinner-3 .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.spinner-3 .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.spinner-3 .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
.spinner-4 {
  width: 40px;
  height: 40px;
  margin: 50px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

canvas {
  background: #fff;
  bordeR: 1px solid #000;
  user-select: none; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

form li {
  margin: 5px 0 5px 0; }

form td {
  white-space: nowrap;
  padding-bottom: 5px; }

form td textarea + i {
  vertical-align: top; }

form label {
  font-size: 0.9em;
  color: #878787;
  text-shadow: -1px -1px 1px #ffffff; }

form i + i {
  margin-left: 3px; }

form .inputPrefix {
  border-left: 1px solid #b7b7b7;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  line-height: 2em;
  height: 100%;
  background: #bebebe; }

form .layout td + td {
  padding-left: 5px; }

form .list {
  font-size: 0.9em; }
  form .list td {
    white-space: nowrap;
    padding: 3px 5px 3px 5px; }

.infoIcon {
  width: 24px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  cursor: pointer; }
  .infoIcon span {
    font-size: .35em;
    display: block;
    position: absolute;
    right: -.75em;
    top: -.75em;
    width: 2.3em;
    height: 2.2em;
    line-height: 2.5em;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #d16059; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

img.frame-1 {
  padding: 5px;
  background: #f5f5ff;
  border: 1px solid #b7b7b7;
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box; }

img.frame-2 {
  border: 1px solid #b7b7b7;
  background: #f5f5ff; }

img.frame-3 {
  padding: 5px;
  background: #ffffff;
  border: 1px solid #b7b7b7;
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box; }

@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }
div.slider-1 {
  overflow: hidden; }

div.slider-1 figure img {
  width: 20%;
  float: left; }

div.slider-1 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; }

.slider-2 {
  width: 100%;
  position: relative;
  padding-top: auto;
  text-align: center; }

.slider-2 > img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75); }

.slider-2 input {
  display: none; }

.slider-2 label {
  display: inline-block;
  margin-top: calc(50% + 15px);
  margin-left: 15px;
  border: 3px solid #999;
  cursor: pointer;
  opacity: 0.6; }

.slider-2 label img {
  display: block; }

.slider-2 input:checked + label {
  border-color: #666;
  opacity: 1; }

.slider-2 input ~ img {
  opacity: 0;
  transform: scale(1.1); }

.slider-2 input:checked + label + img {
  opacity: 1;
  transform: scale(1); }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

input, select, textarea, .textarea {
  border: 1px solid #b7b7b7; }

select {
  cursor: pointer; }

progress {
  height: 20px;
  width: 100%;
  min-width: 150px; }

.textarea,
textarea,
select,
input[type="password"],
input[type="text"],
input[type="datetime"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="datetime-local"] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  color: #454545;
  background: #fff;
  width: 100%;
  min-width: 70px;
  font-size: 1.0em;
  height: 2em;
  line-height: 2em;
  padding: 0 10px 0 10px;
  border: solid 1px #dcdcdc;
  transition: background 0.3s, border 0.3s;
  box-shadow: inset 1px 1px 4px -2px #c5c5c5; }

input[type="file"] {
  border: solid 1px #dcdcdc;
  width: 100%;
  color: #454545; }

input[placeholder], textarea {
  font-family: 'FontAwesome', serif; }

input:invalid {
  transition: all 0.5s;
  border: 1px solid #b85450; }

select {
  height: 2em;
  line-height: 2em; }

.textarea {
  overflow: auto;
  resize: both; }

textarea, .textarea {
  min-height: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

span.check input[type="checkbox"], span.radio input[type="radio"] {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  margin-right: 5px;
  cursor: pointer; }

input[type="range"] {
  border: none;
  width: 100%;
  min-width: 150px;
  cursor: pointer; }

.input {
  width: 100%;
  min-width: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .input button {
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    background-clip: padding-box;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    background-clip: padding-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    background: #fff;
    height: 2em;
    font-size: 1em;
    line-height: 2em;
    padding: 0;
    min-width: 40px;
    border-left: solid 1px #dcdcdc;
    border-top: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc;
    border-right: none;
    position: relative;
    vertical-align: middle;
    flex-grow: 0;
    flex-shrink: 0; }
    .input button:hover {
      background: #fff; }
  .input i {
    position: relative;
    vertical-align: middle; }
  .input input {
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    background-clip: padding-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    position: relative;
    vertical-align: middle;
    flex-grow: 1;
    flex-shrink: 1; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left; }

.ac-container > input {
  display: none; }

.ac-container > label {
  display: block;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  margin-top: -1px;
  cursor: pointer;
  color: #777;
  font-size: 1em;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  background: #f5f5ff;
  background: -moz-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e3eb), color-stop(100, #f5f5ff));
  background: -webkit-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
  background: -o-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
  background: -ms-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
  background: linear-gradient(to bottom, #e0e3eb 0, #f5f5ff 100); }

.ac-container > label:hover {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(100, #f5f5ff));
  background: -webkit-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -o-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -ms-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: linear-gradient(to bottom, #ffffff 0, #f5f5ff 100); }

.ac-container > input:checked + label {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(100, #f5f5ff));
  background: -webkit-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -o-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -ms-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: linear-gradient(to bottom, #ffffff 0, #f5f5ff 100);
  color: #000; }

.ac-container > section {
  background: #f5f5ff;
  overflow: hidden;
  height: auto;
  position: relative;
  z-index: 10;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  padding: 10px; }

.ac-container > input + label + section {
  display: none; }

.ac-container > input:checked + label + section {
  display: inherit; }

div.alert {
  padding: 10px;
  font-weight: bold; }
  div.alert i {
    margin-right: 5px; }

.alertbox.ok, .alert.ok {
  background: #aaffad;
  border: 2px solid #81e27d;
  color: #459442; }

.alertbox.warning, .alert.warning {
  background: #f8ffa8;
  border: 2px solid #d6d949;
  color: #94972f; }

.alertbox.error, .alert.error {
  background: #ff7d79;
  border: 2px solid #ee5649;
  color: #a5302a; }

.alertbox.info, .alert.info {
  background: #b6d2ff;
  border: 2px solid #85b0ee;
  color: #4865a5; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

blockquote {
  border: 1px solid #dddddd;
  background: #ffffff;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.crumbs-1 {
  list-style: none;
  overflow: hidden;
  font-size: 12px; }

.crumbs-1 li {
  background: #f5f5ff;
  border: 1px solid #b7b7b7;
  padding: 10px 10px 10px 20px;
  position: relative;
  display: block;
  float: left;
  text-shadow: -1px -1px 1px #ffffff;
  cursor: pointer;
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff; }
  .crumbs-1 li:first-child {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    background-clip: padding-box; }

.crumbs-1 .last {
  padding-right: 20px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  background-clip: padding-box; }

.crumbs-1 li:not(.last):after, .crumbs-1 li:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 14px solid #f5f5ff;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 100%; }

.crumbs-1 .last:before {
  border: none; }

.crumbs-1 li:not(.last):after {
  z-index: 2; }

.crumbs-1 li:before {
  border-left-color: #b7b7b7;
  margin-left: 1px;
  z-index: 1; }

.crumbs-1 .active, .crumbs-1 li:hover {
  background: #ffffff; }

.crumbs-1 .active {
  cursor: default; }

.crumbs-1 li.active:not(.last):after, .crumbs-1 li:hover:not(.last):after {
  border-left: 14px solid #ffffff; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.btn {
  cursor: pointer; }

button, input[type="submit"], input[type="button"], a.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #b7b7b7;
  cursor: pointer;
  padding: 6px;
  text-shadow: 1px 1px 1px #ffffff;
  min-width: 70px;
  background: #d9d9d9;
  background: -moz-linear-gradient(top, #f1f1f1 0, #d1d1d1 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f1f1), color-stop(100, #d1d1d1));
  background: -webkit-linear-gradient(top, #f1f1f1 0, #d1d1d1 100);
  background: -o-linear-gradient(top, #f1f1f1 0, #d1d1d1 100);
  background: -ms-linear-gradient(top, #f1f1f1 0, #d1d1d1 100);
  background: linear-gradient(to bottom, #f1f1f1 0, #d1d1d1 100);
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff; }
  button:hover, button :active, input[type="submit"]:hover, input[type="submit"] :active, input[type="button"]:hover, input[type="button"] :active, a.button:hover, a.button :active {
    text-shadow: -1px -1px 1px #ffffff;
    background: #d9d9d9;
    background: -moz-linear-gradient(top, #d6d6d6 0, #ededed 100);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6), color-stop(100, #ededed));
    background: -webkit-linear-gradient(top, #d6d6d6 0, #ededed 100);
    background: -o-linear-gradient(top, #d6d6d6 0, #ededed 100);
    background: -ms-linear-gradient(top, #d6d6d6 0, #ededed 100);
    background: linear-gradient(to bottom, #d6d6d6 0, #ededed 100); }

button.red {
  color: #ffffff;
  text-shadow: 1px 1px 1px #696969;
  background: #d9645b;
  background: -moz-linear-gradient(top, #f17068 0, #d16059 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f17068), color-stop(100, #d16059));
  background: -webkit-linear-gradient(top, #f17068 0, #d16059 100);
  background: -o-linear-gradient(top, #f17068 0, #d16059 100);
  background: -ms-linear-gradient(top, #f17068 0, #d16059 100);
  background: linear-gradient(to bottom, #f17068 0, #d16059 100);
  -moz-box-shadow: inset 1px 1px 0px 0px #ff8d7c;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ff8d7c;
  box-shadow: inset 1px 1px 0px 0px #ff8d7c; }
  button.red:hover, button.red :active {
    text-shadow: -1px -1px 1px #696969;
    background: #d9645b;
    background: -moz-linear-gradient(top, #d16059 0, #f17068 100);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d16059), color-stop(100, #f17068));
    background: -webkit-linear-gradient(top, #d16059 0, #f17068 100);
    background: -o-linear-gradient(top, #d16059 0, #f17068 100);
    background: -ms-linear-gradient(top, #d16059 0, #f17068 100);
    background: linear-gradient(to bottom, #d16059 0, #f17068 100); }

button.green {
  color: #ffffff;
  text-shadow: 1px 1px 1px #696969;
  background: #90d99d;
  background: -moz-linear-gradient(top, #9df1ad 0, #77d17c 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9df1ad), color-stop(100, #77d17c));
  background: -webkit-linear-gradient(top, #9df1ad 0, #77d17c 100);
  background: -o-linear-gradient(top, #9df1ad 0, #77d17c 100);
  background: -ms-linear-gradient(top, #9df1ad 0, #77d17c 100);
  background: linear-gradient(to bottom, #9df1ad 0, #77d17c 100);
  -moz-box-shadow: inset 1px 1px 0px 0px #c8ffb6;
  -webkit-box-shadow: inset 1px 1px 0px 0px #c8ffb6;
  box-shadow: inset 1px 1px 0px 0px #c8ffb6; }
  button.green:hover, button.green :active {
    text-shadow: -1px -1px 1px #696969;
    background: #90d99d;
    background: -moz-linear-gradient(top, #77d17c 0, #9df1ad 100);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #77d17c), color-stop(100, #9df1ad));
    background: -webkit-linear-gradient(top, #77d17c 0, #9df1ad 100);
    background: -o-linear-gradient(top, #77d17c 0, #9df1ad 100);
    background: -ms-linear-gradient(top, #77d17c 0, #9df1ad 100);
    background: linear-gradient(to bottom, #77d17c 0, #9df1ad 100); }

button.blue {
  color: #ffffff;
  text-shadow: 1px 1px 1px #696969;
  background: #97afd9;
  background: -moz-linear-gradient(top, #beddf1 0, #7ba9d1 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #beddf1), color-stop(100, #7ba9d1));
  background: -webkit-linear-gradient(top, #beddf1 0, #7ba9d1 100);
  background: -o-linear-gradient(top, #beddf1 0, #7ba9d1 100);
  background: -ms-linear-gradient(top, #beddf1 0, #7ba9d1 100);
  background: linear-gradient(to bottom, #beddf1 0, #7ba9d1 100);
  -moz-box-shadow: inset 1px 1px 0px 0px #cbf3ff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #cbf3ff;
  box-shadow: inset 1px 1px 0px 0px #cbf3ff; }
  button.blue:hover, button.blue :active {
    text-shadow: -1px -1px 1px #696969;
    background: #97afd9;
    background: -moz-linear-gradient(top, #7ba9d1 0, #beddf1 100);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7ba9d1), color-stop(100, #beddf1));
    background: -webkit-linear-gradient(top, #7ba9d1 0, #beddf1 100);
    background: -o-linear-gradient(top, #7ba9d1 0, #beddf1 100);
    background: -ms-linear-gradient(top, #7ba9d1 0, #beddf1 100);
    background: linear-gradient(to bottom, #7ba9d1 0, #beddf1 100); }

ul.btns {
  list-style: none;
  overflow: hidden;
  font-size: 12px; }

ul.btns li {
  background: #f5f5ff;
  border-left: 1px solid #b7b7b7;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  float: left;
  text-shadow: -1px -1px 1px #ffffff;
  cursor: pointer;
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff; }
  ul.btns li:first-child {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    background-clip: padding-box; }
  ul.btns li:last-child {
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    background-clip: padding-box;
    border-right: 1px solid #b7b7b7; }

ul.btns a {
  display: block;
  padding: 10px; }

ul.btns li:before {
  border-left-color: #b7b7b7;
  margin-left: 1px; }

ul.btns .active, ul.btns li:hover {
  background: #ffffff; }

ul.btns .active {
  cursor: default; }

button.simple {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  background: #f5f5ff;
  border: 1px solid #b7b7b7;
  text-shadow: -1px -1px 1px #ffffff;
  padding: 5px;
  min-width: 40px; }
  button.simple:hover {
    background: #ffffff; }

article a {
  color: #8ea4ff;
  border-bottom: 1px dotted #8ea4ff; }
  article a:hover {
    border-bottom: none; }

.unseen {
  font-weight: bold; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

ul.default li {
  margin: 5px 0 5px 0; }
  ul.default li:first-child {
    margin: 0 0 5px 0; }
  ul.default li:last-child {
    margin: 5px 0 0 0; }

ul.boxed {
  background: #fff;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #b7b7b7; }

ul.boxed li {
  margin: 5px 0 5px 0; }
  ul.boxed li:first-child {
    margin-top: 0; }
  ul.boxed li:last-child {
    margin-bottom: 0; }

ul.h-list li {
  display: inline-block;
  margin: 5px 10px 5px 10px; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.nav-top {
  margin: 5px 0 0 5px;
  display: block;
  background: #f5f5ff;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff; }
  .nav-top > li {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    text-shadow: 1px 1px 1px #ffffff; }
    .nav-top > li:first-child {
      -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
      -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
      box-shadow: inset 1px 1px 0px 0px #ffffff;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      background-clip: padding-box; }

.nav-top li {
  background: #f5f5ff;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  cursor: pointer; }

.nav-top > li > a {
  display: inline-block;
  padding: 10px 10px; }

.nav-top li:hover {
  background: #555;
  color: #fff;
  text-shadow: 0 -1px 0 #000; }

.nav-top li > ul {
  padding: 0;
  position: absolute;
  top: 36px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden; }

.nav-top li > ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000; }

.nav-top li > ul li:hover {
  background: #666; }

.nav-top li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.pagination li {
  display: inline; }
.pagination a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff;
  background: #f5f5ff;
  padding: 5px 10px 5px 10px; }
.pagination .active, .pagination a:hover, .pagination a:active {
  color: #ffffff;
  background: #353535;
  -moz-box-shadow: inset 1px 1px 0px 0px #e8e8e8;
  -webkit-box-shadow: inset 1px 1px 0px 0px #e8e8e8;
  box-shadow: inset 1px 1px 0px 0px #e8e8e8; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.meter {
  height: 20px;
  /* Can be anything */
  position: relative;
  background: none !important; }

.meter > span {
  display: block;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #2bc253;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
  background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  position: relative;
  overflow: hidden; }

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 4s linear infinite;
  overflow: hidden; }

.animate > span:after {
  display: none; }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
.orange > span {
  background-color: #f1a165;
  background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1a165), color-stop(1, #f36d0a));
  background-image: -webkit-linear-gradient(#f1a165, #f36d0a); }

.blue > span {
  background-color: #96c2f1;
  background-image: -moz-linear-gradient(top, #96c2f1, #4394f3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96c2f1), color-stop(1, #4394f3));
  background-image: -webkit-linear-gradient(#96c2f1, #4394f3); }

.red > span {
  background-color: #f0a3a3;
  background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0a3a3), color-stop(1, #f42323));
  background-image: -webkit-linear-gradient(#f0a3a3, #f42323); }

.nostripes > span > span, .nostripes > span:after {
  -webkit-animation: none;
  background-image: none; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

section.box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0 0 5px;
  display: inline-block; }

.box .inner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff;
  border: 1px solid #b7b7b7;
  background: #f5f5ff;
  padding: 10px; }

section h1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 1px 0px 0px #f1f1f1;
  -webkit-box-shadow: 0px 1px 0px 0px #f1f1f1;
  box-shadow: 0px 1px 0px 0px #f1f1f1;
  font-size: 1.3em;
  border-bottom: 1px solid #b7b7b7;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px #ffffff; }

section h2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.2em;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px #ffffff; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.tabular {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .tabular .tab-links {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0 4px 0; }
  .tabular .tab-links label {
    -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    background-clip: padding-box;
    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: #f5f5ff;
    background: -moz-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e3eb), color-stop(100, #f5f5ff));
    background: -webkit-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
    background: -o-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
    background: -ms-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
    background: linear-gradient(to bottom, #e0e3eb 0, #f5f5ff 100);
    padding: 5px 10px 5px 10px;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 0.9em;
    cursor: pointer; }
  .tabular .tab-links .active a, .tabular .tab-links label:hover {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0, #f5f5ff 100);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(100, #f5f5ff));
    background: -webkit-linear-gradient(top, #ffffff 0, #f5f5ff 100);
    background: -o-linear-gradient(top, #ffffff 0, #f5f5ff 100);
    background: -ms-linear-gradient(top, #ffffff 0, #f5f5ff 100);
    background: linear-gradient(to bottom, #ffffff 0, #f5f5ff 100); }
  .tabular .tab-links .active a {
    cursor: default; }
  .tabular .tab-links li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 5px 0 0; }
  .tabular .tab-content {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-clip: padding-box;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-clip: padding-box;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    background-clip: padding-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5ff;
    border: 1px solid #b7b7b7;
    padding: 10px; }
    .tabular .tab-content > input {
      display: none; }
    .tabular .tab-content input + div {
      display: none; }
    .tabular .tab-content input:checked + div {
      display: inherit; }

.tabular-2 .tab-links {
  padding: 5px 0 0 0; }
.tabular-2 .tab-links label {
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #b7b7b7;
  background: #f5f5ff;
  background: -moz-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e3eb), color-stop(100, #f5f5ff));
  background: -webkit-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
  background: -o-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
  background: -ms-linear-gradient(top, #e0e3eb 0, #f5f5ff 100);
  background: linear-gradient(to bottom, #e0e3eb 0, #f5f5ff 100);
  padding: 5px 10px 5px 10px;
  text-shadow: 1px 1px 1px #ffffff;
  font-size: 0.9em;
  cursor: pointer; }
.tabular-2 .tab-links .active a, .tabular-2 .tab-links label:hover {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(100, #f5f5ff));
  background: -webkit-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -o-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: -ms-linear-gradient(top, #ffffff 0, #f5f5ff 100);
  background: linear-gradient(to bottom, #ffffff 0, #f5f5ff 100); }
.tabular-2 .tab-links .active a {
  cursor: default; }
.tabular-2 .tab-links li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 5px 15px 0; }
.tabular-2 .tab-content > input {
  display: none; }
.tabular-2 .tab-content input + div {
  display: none; }
.tabular-2 .tab-content input:checked + div {
  display: inherit; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

table.table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.9em; }
  table.table caption {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    background-clip: padding-box;
    background: #f5f5ff;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-top: 1px solid #b7b7b7;
    padding: 5px; }
  table.table td {
    padding: 5px 10px 5px 10px;
    white-space: nowrap; }
  table.table tbody td:first-child {
    border-left: 1px solid #b7b7b7; }
  table.table tbody td:last-child {
    border-right: 1px solid #b7b7b7; }
  table.table tbody td {
    border-top: 1px solid #b7b7b7;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff; }
  table.table tbody tr:nth-of-type(2n) {
    background: #f9f9ff; }
  table.table tbody tr:nth-of-type(2n+1) {
    background: #f9fdff; }
  table.table tbody tr:hover {
    background: #f5f5ff; }
  table.table tbody a {
    display: block; }
  table.table tbody tr:last-child td {
    border-bottom: 1px solid #b7b7b7; }
  table.table tbody tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-clip: padding-box; }
  table.table tbody tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-clip: padding-box; }
  table.table thead {
    background: #f5f5ff; }
    table.table thead td:first-child {
      border-left: 1px solid #b7b7b7; }
    table.table thead td:last-child {
      border-right: 1px solid #b7b7b7; }
  table.table .empty {
    text-align: center;
    color: #d8d8d8; }
  table.table tfoot label {
    float: left; }
  table.table tfoot select {
    width: auto;
    float: right;
    margin: 0;
    min-width: 0px; }
  table.table tfoot td {
    text-align: center;
    padding-top: 10px; }

table.list th {
  text-align: left; }
table.list td {
  padding: 2px 5px 2px 5px; }

.ok {
  color: #5cff56; }

.warning {
  color: #ff4b41; }

.favorite {
  color: #d16059; }

.green {
  background: #c0ffb4; }

.red {
  background: #ff7c70; }

.blue {
  background: #c1c8ff; }

.orange {
  background: #ffbf7c; }

.lightblue {
  background: #b5ffff; }

.yellow {
  background: #fffe97; }

.purple {
  background: #bfa5ff; }

.pink {
  background: #ffa6e3; }

.grey {
  background: #dcdcdc; }

.darkred {
  background: #d16059; }

.darkgreen {
  background: #77d17c; }

.darkblue {
  background: #7ba9d1; }

.tag {
  text-shadow: 1px 1px 1px #ffffff;
  cursor: pointer;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 5px 10px 5px 10px;
  font-size: 0.7em; }

.tag.green {
  -moz-box-shadow: inset 1px 1px 0px 0px #ecffea;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ecffea;
  box-shadow: inset 1px 1px 0px 0px #ecffea; }

.tag.red {
  -moz-box-shadow: inset 1px 1px 0px 0px #fdb7b4;
  -webkit-box-shadow: inset 1px 1px 0px 0px #fdb7b4;
  box-shadow: inset 1px 1px 0px 0px #fdb7b4; }

.tag.blue {
  -moz-box-shadow: inset 1px 1px 0px 0px #dce3fd;
  -webkit-box-shadow: inset 1px 1px 0px 0px #dce3fd;
  box-shadow: inset 1px 1px 0px 0px #dce3fd; }

.tag.orange {
  -moz-box-shadow: inset 1px 1px 0px 0px #fddfb1;
  -webkit-box-shadow: inset 1px 1px 0px 0px #fddfb1;
  box-shadow: inset 1px 1px 0px 0px #fddfb1; }

.tag.lightblue {
  -moz-box-shadow: inset 1px 1px 0px 0px #e1fdfa;
  -webkit-box-shadow: inset 1px 1px 0px 0px #e1fdfa;
  box-shadow: inset 1px 1px 0px 0px #e1fdfa; }

.tag.yellow {
  -moz-box-shadow: inset 1px 1px 0px 0px #fdfdcf;
  -webkit-box-shadow: inset 1px 1px 0px 0px #fdfdcf;
  box-shadow: inset 1px 1px 0px 0px #fdfdcf; }

.tag.purple {
  -moz-box-shadow: inset 1px 1px 0px 0px #d8c8fd;
  -webkit-box-shadow: inset 1px 1px 0px 0px #d8c8fd;
  box-shadow: inset 1px 1px 0px 0px #d8c8fd; }

.tag.pink {
  -moz-box-shadow: inset 1px 1px 0px 0px #fdd3f0;
  -webkit-box-shadow: inset 1px 1px 0px 0px #fdd3f0;
  box-shadow: inset 1px 1px 0px 0px #fdd3f0; }

.tag.grey {
  -moz-box-shadow: inset 1px 1px 0px 0px #f5f5f5;
  -webkit-box-shadow: inset 1px 1px 0px 0px #f5f5f5;
  box-shadow: inset 1px 1px 0px 0px #f5f5f5; }

.tag.darkred {
  color: #fff;
  text-shadow: 1px 1px 0px #000;
  -moz-box-shadow: inset 1px 1px 0px 0px #f17068;
  -webkit-box-shadow: inset 1px 1px 0px 0px #f17068;
  box-shadow: inset 1px 1px 0px 0px #f17068; }

.tag.darkgreen {
  color: #fff;
  text-shadow: 1px 1px 0px #000;
  -moz-box-shadow: inset 1px 1px 0px 0px #9df1ad;
  -webkit-box-shadow: inset 1px 1px 0px 0px #9df1ad;
  box-shadow: inset 1px 1px 0px 0px #9df1ad; }

.tag.darkblue {
  color: #fff;
  text-shadow: 1px 1px 0px #000;
  -moz-box-shadow: inset 1px 1px 0px 0px #beddf1;
  -webkit-box-shadow: inset 1px 1px 0px 0px #beddf1;
  box-shadow: inset 1px 1px 0px 0px #beddf1; }
